<header class="jumbotron my-4" id="gallery-jumbotron">
    <h1 class="display-3">Gallery</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
    <div class="grid">
        <div class="grid-sizer"></div>
        <ng-container *ngFor="let pic of pics">
            <div class="grid-item {{pic.GridSize}}"><img src="./assets/{{pic.Image}}"></div>
        </ng-container>
    </div>
</section>
