<header class="jumbotron my-4" id="gallery-jumbotron">
    <h1 class="display-3">Gallery</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
    <h2 class="be-quiet">Validation!</h2>
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/001.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/002.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/003.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/004.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/005.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/006.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/007.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/008.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/009.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/010.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/011.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/012.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/013.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/014.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/015.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/016.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/017.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/018.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/019.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/020.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/021.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/022.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/023.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/024.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/025.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/026.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/027.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/028.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/029.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/030.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/031.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/032.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/033.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/034.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/035.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/036.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/037.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/038.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/039.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/040.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/041.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/042.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/043.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/044.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/045.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/046.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/047.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/048.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/049.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/050.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/051.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/052.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/053.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/056.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/057.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/058.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/059.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/060.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/061.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/062.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/063.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/064.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/065.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/066.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/067.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/068.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/069.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/070.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/071.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/072.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/073.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/074.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/075.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/076.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/077.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/078.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/079.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/080.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/081.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/082.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/083.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/084.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/085.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/086.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/087.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/088.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--height2"><img src="../../assets/images/gallery/089.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/090.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/091.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/092.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/093.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/094.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/095.jpg" alt="gallery-image"></div>
        <div class="grid-item"><img src="../../assets/images/gallery/096.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/097.jpg" alt="gallery-image"></div>
        <div class="grid-item grid-item--width2"><img src="../../assets/images/gallery/098.jpg" alt="gallery-image"></div>
        <button class="navigation">Load More</button>
    </div>
</section>
