 <header class="jumbotron my-4" id="abilities-jumbotron">
     <h1 class="display-3">Abilities</h1>
     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
 </header>

 <section>
     <div class="container">
         <div class="row align-items-center">
             <div class="col-md-12">
                 <table class="table table-responsive display responsive" id="abilitiestable">
                     <thead class="thead-default">
                         <tr>
                             <th class="hide-sm">Name</th>
                             <th>Image</th>
                             <th class="hide-xs">Description</th>
                             <th>Source</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let ability of abilities">
                             <th scope="row" class="hide-sm">{{ability.Name}}</th>
                             <td><img src="./assets/{{ability.Image}}"></td>
                             <td class="hide-xs">{{ability.Description}}</td>
                             <td><img src="./assets/{{ability.SourceImage}}"></td>
                        </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
 </section>
