<header class="jumbotron my-4" id="sub-jumbotron">
    <h1 class="display-3">Sub Weapons</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <table class="table table-responsive" id="subs-table">
                    <thead class="thead-default">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let sub of subs; index as i">
                            <tr>
                                <th scope="row">{{sub.Name}}</th>
                                <td><img src="../../assets/{{sub.Image}}"></td>
                                <td>{{sub.Description}}</td>
                                <td>
                                    <button class="btn btn-outline-primary btn-block" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" [attr.aria-expanded]="false" [attr.aria-controls] = "'collapse-' + i"></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="collapse-row">
                                    <div [attr.id]="'collapse-' + i" class="container collapse out">
                                        <div class="row">
                                            <div class="col">Min Splash Damage: 25</div> 
                                            <div class="col">Splash Damage: 35</div>
                                            <div class="col">Direct Hit Damage: 60</div>
                                            <div class="col">Ink Consumption: 40%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
