<header class="jumbotron my-4" id="sub-jumbotron">
    <h1 class="display-3">Sub Weapons</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <table class="table table-responsive" id="subs-table">
                    <thead class="thead-default">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Burst Bomb</th>
                            <td><img src="../../assets/images/subs/Wsb_Bomb_Quick.png" alt="sub-weapon"></td>
                            <td>Burst Bombs are spherical balloons filled with ink that explode on contact. They use less ink than Splat Bombs, and Suction Bombs, and therefore cause less damage.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#burst-collapse" aria-expanded="false" aria-controls="burst-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="burst-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Min Splash Damage: 25</div>
                                        <div class="col">Splash Damage: 35</div>
                                        <div class="col">Direct Hit Damage: 60</div>
                                        <div class="col">Ink Consumption: 40%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Curling Bomb</th>
                            <td><img src="../../assets/images/subs/Wsb_Bomb_Curling.png" alt="sub-weapon"></td>
                            <td>When deployed, the Curling Bomb travels in a straight line across the floor, leaving a trail of Ink and bouncing off of any wall or obstacle it encounters. It explodes after it has traveled its maximum distance. The maximum distance of the Curling Bomb may be shortened by charging, or 'cooking' it with R before release.</td>
                            <td>
                                <button class="btn btn-primary btn-block btn-block" type="button" data-toggle="collapse" data-target="#curling-collapse" aria-expanded="false" aria-controls="curling-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="curling-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Min Splash Damage: 30</div>
                                        <div class="col">Direct Hit Damage: 150</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Autobomb</th>
                            <td><img src="../../assets/images/subs/Wsb_Bomb_Robo.png" alt="sub-weapon"></td>
                            <td>Autobombs are comparable to S Weapon Sub Seekers from Splatoon. Unlike the Seeker however, they do not leave a trail of ink and can freely change direction. Once thrown, the Autobomb will seek out any enemy players in the vicinity, indicated by the circle which appears once the autobomb has landed, and will automatically move towards them for quite a long time. Once the Autobomb reaches a player or travels far enough without reaching the player, it will explode. If thrown and no enemies are in range, the Autobomb will automatically explode where it was thrown, similar to a S2 Weapon Sub Splat Bomb.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#auto-collapse" aria-expanded="false" aria-controls="auto-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="auto-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Min Splash Damage: 30</div>
                                        <div class="col">Direct Hit Damage: 150</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Splat Bomb</th>
                            <td><img src="../../assets/images/subs/Wsb_Bomb_Splash.png" alt="sub-weapon"></td>
                            <td>When thrown, a second after touching a surface, the Splat Bomb explodes and coats the area in its respective team's color. Splat Bombs will not explode in mid-air; they can only explode after touching an object.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#splat-collapse" aria-expanded="false" aria-controls="splat-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="splat-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Min Splash Damage: 30</div>
                                        <div class="col">Direct Hit Damage: 180</div>
                                        <div class="col">Explodes 1s after contact</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Suction Bomb</th>
                            <td><img src="../../assets/images/subs/Wsb_Bomb_Suction.png" alt="sub-weapon"></td>
                            <td>Suction Bombs can be thrown and are able to attach to virtually any surface, including walls and ceilings. After two seconds, they explode in a burst of ink. Throwing a Suction Bomb will use up 70% of player's Ink Tank under normal circumstances, just like the Splat Bomb. They will also immediately explode upon contact with the Rainmaker's shield or a Splash Wall.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#suction-collapse" aria-expanded="false" aria-controls="suction-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="suction-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Min Splash Damage: 30</div>
                                        <div class="col">Direct Hit Damage: 180</div>
                                        <div class="col">Explodes 2s after deployed</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Squid Beakon</th>
                            <td><img src="../../assets/images/subs/Wsb_Flag.png" alt="sub-weapon"></td>
                            <td>Squid Beakons are small devices placed at the user's feet that can be Super Jumped to by allies. A Beakon is destroyed when the Super Jumping Inkling lands or when it is damaged by an enemy. One Inkling using Beakons can have up to three placed in the stage at one time; attempting to create a fourth will destroy the oldest of those currently active.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#squid-collapse" aria-expanded="false" aria-controls="squid-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="squid-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Ink Consumption: 75%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Point Sensor</th>
                            <td><img src="../../assets/images/subs/Wsb_PointSensor.png" alt="sub-weapon"></td>
                            <td>Point Sensors are black, cube-like objects with cylinder-shaped protrusions that change color depending on the player's Ink. When thrown, they explode in a spherical cloud that has the color of the player's ink and tag any enemy Inkling in a certain range with a swirling squid marker. This marker allows tagged enemies to be seen through barriers by all teammates, allowing them to be easily tracked.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#point-collapse" aria-expanded="false" aria-controls="point-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="point-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Base Duration: 8s (upon contact)</div>
                                        <div class="col">Ink Consumption: 60%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Toxic Mist</th>
                            <td><img src="../../assets/images/subs/Wsb_PoisonFog.png" alt="sub-weapon"></td>
                            <td>When thrown, Toxic Mist surrounds a circular area in fog. Opponents caught in the fog move more slowly and gradually lose ink. Players that stay in the fog for a longer period of time are more severely affected.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#toxic-collapse" aria-expanded="false" aria-controls="toxic-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="toxic-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Base Duration: 7s (after deployed)</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Splash Wall</th>
                            <td><img src="../../assets/images/subs/Wsb_Shield.png" alt="sub-weapon"></td>
                            <td>The Splash Wall forms a temporary barrier of falling ink, preventing enemy fire from passing through. Opponents will instantly get splattered if they attempt to walk through the Splash Wall, but the player who spawned it and their teammates will have no effect. These players will also be able to shoot through the wall. A similar weapon is also used by the Octarians in Octo Valley.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#wall-collapse" aria-expanded="false" aria-controls="wall-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="wall-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Base Damage: 50 (per frame)</div>
                                        <div class="col">Base Duration: 7s (when not damaged)</div>
                                        <div class="col">Ink Consumption: 60%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Sprinkler</th>
                            <td><img src="../../assets/images/subs/Wsb_Sprinkler.png" alt="sub-weapon"></td>
                            <td>The Sprinkler was tweaked in Splatoon 2 to have its inking power start out stronger but weaken over time. There are four distinct phases: Deployment, High-power, Mid-power, and Low-power.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#sprink-collapse" aria-expanded="false" aria-controls="sprink-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="sprink-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Base Damage: 20</div>
                                        <div class="col">Base Duration: ∞ (<a href="https://splatoonwiki.org/wiki/Sprinkler" target="_blank">see wiki</a>)</div>
                                        <div class="col">Ink Consumption: 70%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Ink Mine</th>
                            <td><img src="../../assets/images/subs/Wsb_TimerTrap.png" alt="sub-weapon"></td>
                            <td>Up to two Ink Mines can now be placed at once, and if anyone hit by a mine survives their position will be temporarily marked as if they were exposed to a Point Sensor. Ink Mines do not detonate on their own, so they will remain on the battlefield until triggered. Each Ink Mine uses 60% of the ink tank's capacity. It deals 35 damage to opponents caught directly in the blast, and 20 damage to those near the blast.</td>
                            <td>
                                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#mine-collapse" aria-expanded="false" aria-controls="mine-collapse">

                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="collapse-row">
                                <div id="mine-collapse" class="container collapse out">
                                    <div class="row">
                                        <div class="col">Base Damage: 35</div>
                                        <div class="col">Min Splash Damage: 20</div>
                                        <div class="col">Ink Consumption: 60%</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
