<header class="jumbotron my-4" id="gear-jumbotron">
    <h1 class="display-3">Gear</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <!-- <form>
                    <div class="form-group">
                        <label class="col-form-label form-control-lg" for="search-all">Search All Gear</label>
                        <input type="text" class="form-control" id="search-all" placeholder="Search">
                    </div>
                </form> -->
                <ngb-tabset>
                    <ngb-tab title="Headgear">
                        <ng-template ngbTabContent>
                            <table class="table table-striped table-bordered dt-responsive nowrap" id="headgear-table">
                                <thead class="thead-default">
                                    <tr>       
                                        <th class="min-phone-l nosort">Image</th>                                 
                                        <th>Name</th>
                                        <th class="min-phone-l">Ability</th>
                                        <th>Ability Image</th>
                                        <th class="min-phone-l">Brand</th>
                                        <th>Brand Image</th>
                                        <th>Stars</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let gear of gears">
                                        <tr *ngIf="gear.GearType == 'Headgear'">                                    
                                            <td><img src="../../assets/{{gear.GearImage}}"></td>
                                            <th scope="row">{{gear.Name}}</th>
                                            <td>{{gear.Ability}}</td>
                                            <td><img src="../../assets/{{gear.AbilityImage}}" ></td>
                                            <td>{{gear.Brand}}</td>
                                            <td><img src="../../assets/{{gear.BrandImage}}" ></td>
                                            <td>{{gear.StarCount}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Clothes">
                        <ng-template ngbTabContent>
                            <table class="table table-striped table-bordered dt-responsive nowrap" id="clothes-table">
                                    <thead class="thead-default">
                                        <tr>                                        
                                            <th class="min-phone-l nosort">Image</th>                               
                                            <th>Name</th>
                                            <th class="min-phone-l">Ability</th>
                                            <th>Ability Image</th>
                                            <th class="min-phone-l">Brand</th>
                                            <th>Brand Image</th>
                                            <th>Stars</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let gear of gears">
                                                <tr *ngIf="gear.GearType == 'Clothes'">
                                                    <td><img src="../../assets/{{gear.GearImage}}"></td>
                                                    <th scope="row">{{gear.Name}}</th>
                                                    <td>{{gear.Ability}}</td>
                                                    <td><img src="../../assets/{{gear.AbilityImage}}" ></td>
                                                    <td>{{gear.Brand}}</td>
                                                    <td><img src="../../assets/{{gear.BrandImage}}" ></td>
                                                    <td>{{gear.StarCount}}</td>
                                                </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Shoes">
                        <ng-template ngbTabContent>
                            <table class="table table-striped table-bordered dt-responsive nowrap" id="shoes-table">
                                    <thead class="thead-default">
                                        <tr>                                        
                                            <th class="min-phone-l nosort">Image</th>                           
                                            <th>Name</th>
                                            <th class="min-phone-l">Ability</th>
                                            <th>Ability Image</th>
                                            <th class="min-phone-l">Brand</th>
                                            <th>Brand Image</th>
                                            <th>Stars</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let gear of gears">
                                            <tr *ngIf="gear.GearType == 'Shoes'">
                                                <td><img src="../../assets/{{gear.GearImage}}"></td>
                                                <th scope="row">{{gear.Name}}</th>
                                                <td>{{gear.Ability}}</td>
                                                <td><img src="../../assets/{{gear.AbilityImage}}" ></td>
                                                <td>{{gear.Brand}}</td>
                                                <td><img src="../../assets/{{gear.BrandImage}}" ></td>
                                                <td>{{gear.StarCount}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</section>
