<header class="jumbotron my-4" id="specials-jumbotron">
  <h1 class="display-3">Special Weapons</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
</header>

<section>
  <h2 class="be-quiet">Validation!</h2>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12">
              <table class="table table-responsive" id="specials-table">
                  <thead class="thead-default">
                      <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Description</th>
                          <th>Stats</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">Baller</th>
                          <td><img src="../public/images/specials/Wsp_AquaBall.png" alt="special-weapon"></td>
                          <td>When using the special move, an Inkling will enter the Baller. This allows them to move quickly and take less damage while inking the ground as they move, and also allows them to walk up walls. If ZR is held while in the bubble, or after a set period of time, the Baller explodes, covering the surrounding area in ink. The Baller being inked results in it shrinking, eventually disappearing, instead of the Inkling using it taking damage.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#ball-collapse" aria-expanded="false" aria-controls="ball-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="ball-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 7s</div>
                                      <div class="col">Min Splash Damage: 55</div>        <!-- Far -->
                                      <div class="col">Damage On Contact: 50</div>        <!-- Direct -->
                                      <div class="col">Direct Hit Damage: 180</div>       <!-- Near -->
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Suction-Bomb Launcher</th>
                          <td><img src="../public/images/specials/Wsp_LauncherSuction.png" alt="special-weapon"></td>
                          <td>The special is similar to the Splatoon Bomb Rush special, but allows players to throw the bombs farther and with greater accuracy. It seperates itself from the Bomb Rush in the fact that the bombs fired are not dependent on the player's Sub Weapon.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#succ-collapse" aria-expanded="false" aria-controls="succ-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="succ-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 6s</div>
                                      <div class="col">Min Splash Damage: 30</div>
                                      <div class="col">Direct Hit Damage: 180</div>
                                      <div class="col">Explodes 2s after deployed</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Bubble Blower</th>
                          <td><img src="../public/images/specials/Wsp_SuperBubble.png" alt="special-weapon"></td>
                          <td>The Bubble Blower allows players to create three large bubbles. The bubbles slowly move and bounce in the direction the player fired them. As the bubbles move, they grow when hit by the user's ink and shrink when hit by the opposing team's ink. If the player or their team pops the bubble, a lethal blast of ink splats any enemy close to the bubble and inks the area. If too much time passes without a bubble being popped, or if the enemy pops one, it will fizzle away without a deadly blast of ink.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#bubble-collapse" aria-expanded="false" aria-controls="bubble-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="bubble-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Bubble Duration: 18s</div>
                                      <div class="col">Wand Duration: 18s</div>
                                      <div class="col">Min Splash Damage: 50</div>        <!-- Far -->
                                      <div class="col">Splash Damage: 100</div>        <!-- Direct -->
                                      <div class="col">Direct Hit Damage: 250</div>       <!-- Near -->
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Ink Armor</th>
                          <td><img src="../public/images/specials/Wsp_SuperArmor.png" alt="special-weapon"></td>
                          <td>The Ink Armor is a special weapon from Splatoon 2 that functions similarly to the Bubbler special weapon, negating up to 30 points of damage before it breaks. The player can still attack with their main weapon and sub weapon when Ink Armor is activated. Unlike the Bubbler, the Ink Armor's effect is applied to all team members when activated, no matter the distance from the activator to the teammate, and is not susceptible to knockback from enemy fire. The Ink Armor's effect ends for a player when the duration of the special expires or more than 30 damage is taken in total, and will immediately begin to receive damage as usual.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#armor-collapse" aria-expanded="false" aria-controls="armor-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="armor-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 6s</div>
                                      <div class="col">stat</div>
                                      <div class="col">stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Inkjet</th>
                          <td><img src="../public/images/specials/Wsp_Jetpack.png" alt="special-weapon"></td>
                          <td>When activated, the Inkling can fly about in the air and shoot Blaster-like projectiles. The jet will also leave a trail of ink which comes out of the jet's exhaust which can also splat enemy players. While the player is mid-air, they can switch to inkling form to easily dodge sniper shots and confuse enemy players. When the special is finished, the player will Super Jump back to the location where they activated the Inkjet. Be aware that the Inkjet's landing marker will be visible to all players, much like a Super Jump marker. Unlike other specials, if the player falls off the map, the player will super jump back to the location where they activated the Inkjet and the special will end.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#jet-collapse" aria-expanded="false" aria-controls="jet-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="jet-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 8s</div>
                                      <div class="col">Absorbtion (Instant): 100</div>
                                      <div class="col">Absorbed (Over Time): 30</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <!-- Stopped here -->
                      <tr>
                          <th scope="row">Ink Storm</th>
                          <td><img src="../public/images/specials/Wsp_RainCloud.png" alt="special-weapon"></td>
                          <td>When thrown, the Ink Storm creates a rain cloud of ink. The rain cloud gradually drifts above the map and sprinkles the ground in Ink.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#storm-collapse" aria-expanded="false" aria-controls="storm-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="storm-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 8s</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Splashdown</th>
                          <td><img src="../public/images/specials/Wsp_SuperLanding.png" alt="special-weapon"></td>
                          <td>The Splashdown is a Special Weapon in Splatoon 2. An Inkling using it strikes the ground with heavy force, causing an ink explosion around them. Using it on the ground will cause the player to jump up with a short delay, but it can also be used from the air or during a Super Jump. A player using Splashdown is briefly vulnerable to attacks. Similar to S2 Weapon Special Ink Armor, the player can be splatted before the activation animation is finished. The weapon is more effective in the air, while the Inkling is Super Jumping. A radius displays when the Splashdown is used; this radius indicates the weapon's one-hit-splat range. Opponents just outside this area will still take significant damage.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#down-collapse" aria-expanded="false" aria-controls="down-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="down-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: Instant</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Sting Ray</th>
                          <td><img src="../public/images/specials/Wsp_WaterCutter.png" alt="special-weapon"></td>
                          <td>The Sting Ray is a Special Weapon in Splatoon 2. When activated, it allows the Inkling to fire a continuous laser that shoots through walls. To balance this the turning is slow and delayed by 0.7 seconds. However, the user can stop firing the weapon to move the camera freely. When not firing, the player can see silhouettes of opponents on the map. The player can then continue firing.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#ray-collapse" aria-expanded="false" aria-controls="ray-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="ray-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 8s</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Tenta Missiles</th>
                          <td><img src="../public/images/specials/Wsp_SuperMissile.png" alt="special-weapon"></td>
                          <td>When activated, the Inkling can lock onto an opponent using ZR and fire four homing missiles towards them.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#missle-collapse" aria-expanded="false" aria-controls="missle-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="missle-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 2s</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Curling-Bomb Launcher</th>
                          <td><img src="../public/images/specials/Wsp_LauncherCurling.png" alt="special-weapon"></td>
                          <td>The special is similar to the Splatoon Bomb Rush special, but allows players to throw the bombs farther and with greater accuracy. It seperates itself from the Bomb Rush in the fact that the bombs fired are not dependent on the player's Sub Weapon.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#curl-collapse" aria-expanded="false" aria-controls="curl-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="curl-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 6s</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <th scope="row">Splat-Bomb Launcher</th>
                          <td><img src="../public/images/specials/Wsp_LauncherSplash.png" alt="special-weapon"></td>
                          <td>The special is similar to the Splatoon Bomb Rush special, but allows players to throw the bombs farther and with greater accuracy. It seperates itself from the Bomb Rush in the fact that the bombs fired are not dependent on the player's Sub Weapon.</td>
                          <td>
                              <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#splatbomb-collapse" aria-expanded="false" aria-controls="splatbomb-collapse">
                              </button>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="4" class="collapse-row">
                              <div id="splatbomb-collapse" class="container collapse out">
                                  <div class="row">
                                      <div class="col">Duration: 6s</div>
                                      <div class="col">Placeholder Stat</div>
                                      <div class="col">Placeholder Stat</div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
