<header class="jumbotron my-4" id="brands-jumbotron" >
  <h1 class="display-3">Brands</h1>
  <p class="lead">Think brands are just a way to make your outfit fresh? Think again! Brands can increase the chance of rolling certain abilities on gear. Check out which brands love which abilities.</p>
</header>

<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12">
              <table class="table table-responsive display responsive" id="brandstable">
                  <thead class="thead-default">
                      <tr>
                          <th class="min-tablet-lp">Brand</th>
                          <th class="min-phone-l nosort">Brand</th>
                          <th class="min-tablet-lp">Common</th>
                          <th class="min-phone-l nosort">Common</th>
                          <th class="desktop">Description</th>
                          <th class="min-tablet-lp">Uncommon</th>
                          <th class="min-phone-l nosort">Uncommon</th>
                          <th class="desktop">Description</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let brand of brands">
                          <th scope="row">{{brand.Name}}</th>
                          <td><img src="../../assets/{{brand.Image}}"></td>
                          <td>{{brand.CommonAbility}}</td>
                          <td><img src="../../assets/{{brand.CommonAbilityImage}}" ></td>
                          <td>{{brand.CommonAbilityDescription}}</td>
                          <td>{{brand.UncommonAbility}}</td>
                          <td><img src="../../assets/{{brand.UncommonAbilityImage}}" ></td>
                          <td>{{brand.UncommonAbilityDescription}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
