<header class="jumbotron my-4" id="brands-jumbotron" >
  <h1 class="display-3">Brands</h1>
  <p class="lead">Think brands are just a way to make your outfit fresh? Think again! Brands can increase the chance of rolling certain abilities on gear. Check out which brands love which abilities.</p>
</header>

<section>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12">
              <table class="table table-responsive display responsive" id="brandstable">
                  <thead class="thead-default">
                      <tr>
                          <th class="min-tablet-lp">Brand</th>
                          <th class="min-phone-l nosort">Brand</th>
                          <th class="min-tablet-lp">Common</th>
                          <th class="min-phone-l nosort">Common</th>
                          <th class="desktop">Description</th>
                          <th class="min-tablet-lp">Uncommon</th>
                          <th class="min-phone-l nosort">Uncommon</th>
                          <th class="desktop">Description</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let brand of brands">
                          <th scope="row">{{brand.Name}}</th>
                          <td><img src="../../assets/{{brand.Image}}"></td>
                          <td>{{brand.CommonAbility}}</td>
                          <td><img src="../../assets/{{brand.CommonAbilityImage}}" ></td>
                          <td>{{brand.CommonAbilityDescription}}</td>
                          <td>{{brand.UncommonAbility}}</td>
                          <td><img src="../../assets/{{brand.UncommonAbilityImage}}" ></td>
                          <td>{{brand.UncommonAbilityDescription}}</td>
                      </tr>
                      <!-- <tr>
                          <th scope="row">SquidForce</th>
                          <td><img src="../../assets/images/brands/B00.png" alt="brand-image"></td>
                          <td>Ink Resistance Up</td>
                          <td><img src="../../assets/images/abilities/OpInkEffect_Reduction.png" alt="common-ability"></td>
                          <td>Decreases damage, speed, and jump penalties when standing in enemy Ink.</td>
                          <td>Ink Saver (Main)</td>
                          <td><img src="../../assets/images/abilities/MainInk_Save.png" alt="uncommon-ability"></td>
                          <td>Decreases Main Weapon Ink usage.</td>
                      </tr>
                      <tr>
                          <th scope="row">Zink</th>
                          <td><img src="../../assets/images/brands/B01.png" alt="brand-image"></td>
                          <td>Quick Super Jump</td>
                          <td><img src="../../assets/images/abilities/JumpTime_Save.png" alt="common-ability"></td>
                          <td>Increases Super Jump speed.</td>
                          <td>Quick Respawn</td>
                          <td><img src="../../assets/images/abilities/RespawnTime_Save.png" alt="uncommon-ability"></td>
                          <td>Reduces respawn time after getting splatted wthout splatting any opponents.</td>
                      </tr>
                      <tr>
                          <th scope="row">Krak-On</th>
                          <td><img src="../../assets/images/brands/B02.png" alt="brand-image"></td>
                          <td>Swim Speed Up</td>
                          <td><img src="../../assets/images/abilities/SquidMove_Up.png" alt="common-ability"></td>
                          <td>Increases movement speed while swimming in squid form.</td>
                          <td>Bomb Defense Up</td>
                          <td><img src="../../assets/images/abilities/BombDamage_Reduction.png" alt="uncommon-ability"></td>
                          <td>Reduces damage taken by blasts from sub weapons or special weapons.</td>
                      </tr>
                      <tr>
                          <th scope="row">Rockenberg</th>
                          <td><img src="../../assets/images/brands/B03.png" alt="brand-image"></td>
                          <td>Run Speed Up</td>
                          <td><img src="../../assets/images/abilities/HumanMove_Up.png" alt="common-ability"></td>
                          <td>Increases movement speed in humanoid form.</td>
                          <td>Swim Speed Up</td>
                          <td><img src="../../assets/images/abilities/SquidMove_Up.png" alt="uncommon-ability"></td>
                          <td>Increases movement speed while swimming in squid form.</td>
                      </tr>
                      <tr>
                          <th scope="row">Zekko</th>
                          <td><img src="../../assets/images/brands/B04.png" alt="brand-image"></td>
                          <td>Special Saver</td>
                          <td><img src="../../assets/images/abilities/RespawnSpecialGauge_Save.png" alt="common-ability"></td>
                          <td>Decreases Special Gauge loss after being splatted.</td>
                          <td>Special Charge Up</td>
                          <td><img src="../../assets/images/abilities/SpecialIncrease_Up.png" alt="uncommon-ability"></td>
                          <td>Increases the rate at which the Special Gauge fills.</td>
                      </tr>
                      <tr>
                          <th scope="row">Forge</th>
                          <td><img src="../../assets/images/brands/B05.png" alt="brand-image"></td>
                          <td>Special Power Up</td>
                          <td><img src="../../assets/images/abilities/SpecialTime_Up.png" alt="common-ability"></td>
                          <td>Improves effectiveness of Special Weapon.</td>
                          <td>Ink Saver (Sub)</td>
                          <td><img src="../../assets/images/abilities/SubInk_Save.png" alt="uncommon-ability"></td>
                          <td>Decreases Sub Weapon Ink usage.</td>
                      </tr>
                      <tr>
                          <th scope="row">Firefin</th>
                          <td><img src="../../assets/images/brands/B06.png" alt="brand-image"></td>
                          <td>Ink Saver (Sub)</td>
                          <td><img src="../../assets/images/abilities/SubInk_Save.png" alt="common-ability"></td>
                          <td>Decreases Sub Weapon Ink usage.</td>
                          <td>Ink Recovery Up</td>
                          <td><img src="../../assets/images/abilities/InkRecovery_Up.png" alt="uncommon-ability"></td>
                          <td>Increases Ink Tank refill rate while in squid form.</td>
                      </tr>
                      <tr>
                          <th scope="row">Skalop</th>
                          <td><img src="../../assets/images/brands/B07.png" alt="brand-image"></td>
                          <td>Quick Respawn</td>
                          <td><img src="../../assets/images/abilities/RespawnTime_Save.png" alt="common-ability"></td>
                          <td>Reduces respawn time after getting splatted wthout splatting any opponents.</td>
                          <td>Special Saver</td>
                          <td><img src="../../assets/images/abilities/RespawnSpecialGauge_Save.png" alt="uncommon-ability"></td>
                          <td>Decreases Special Gauge loss after being splatted.</td>
                      </tr>
                      <tr>
                          <th scope="row">Splash Mob</th>
                          <td><img src="../../assets/images/brands/B08.png" alt="brand-image"></td>
                          <td>Ink Saver (Main)</td>
                          <td><img src="../../assets/images/abilities/MainInk_Save.png" alt="common-ability"></td>
                          <td>Decreases Main Weapon Ink usage.</td>
                          <td>Run Speed Up</td>
                          <td><img src="../../assets/images/abilities/HumanMove_Up.png" alt="uncommon-ability"></td>
                          <td>Increases movement speed in humanoid form.</td>
                      </tr>
                      <tr>
                          <th scope="row">Inkline</th>
                          <td><img src="../../assets/images/brands/B09.png" alt="brand-image"></td>
                          <td>Bomb Defense Up</td>
                          <td><img src="../../assets/images/abilities/BombDamage_Reduction.png" alt="common-ability"></td>
                          <td>Reduces damage taken by blasts from sub weapons or special weapons.</td>
                          <td>Cold-Blooded</td>
                          <td><img src="../../assets/images/abilities/MarkingTime_Reduction.png" alt="uncommon-ability"></td>
                          <td>Shortens the duration of position trackers.</td>
                      </tr>
                      <tr>
                          <th scope="row">Tentatek</th>
                          <td><img src="../../assets/images/brands/B10.png" alt="brand-image"></td>
                          <td>Ink Recovery Up</td>
                          <td><img src="../../assets/images/abilities/InkRecovery_Up.png" alt="common-ability"></td>
                          <td>Increases Ink Tank refill rate while in squid form.</td>
                          <td>Quick Super Jump</td>
                          <td><img src="../../assets/images/abilities/JumpTime_Save.png" alt="uncommon-ability"></td>
                          <td>Increases Super Jump speed.</td>
                      </tr>
                      <tr>
                          <th scope="row">Takoroka</th>
                          <td><img src="../../assets/images/brands/B11.png" alt="brand-image"></td>
                          <td>Special Charge Up</td>
                          <td><img src="../../assets/images/abilities/SpecialIncrease_Up.png" alt="common-ability"></td>
                          <td>Increases the rate at which the Special Gauge fills.</td>
                          <td>Special Power Up</td>
                          <td><img src="../../assets/images/abilities/SpecialTime_Up.png" alt="uncommon-ability"></td>
                          <td>Improves effectiveness of Special Weapon.</td>
                      </tr>
                      <tr>
                          <th scope="row">Annaki</th>
                          <td><img src="../../assets/images/brands/B15.png" alt="brand-image"></td>
                          <td>Cold-Blooded</td>
                          <td><img src="../../assets/images/abilities/MarkingTime_Reduction.png" alt="common-ability"></td>
                          <td>Shortens the duration of position trackers.</td>
                          <td>Special Saver</td>
                          <td><img src="../../assets/images/abilities/RespawnSpecialGauge_Save.png" alt="uncommon-ability"></td>
                          <td>Decreases Special Gauge loss after being splatted.</td>
                      </tr>
                      <tr>
                          <th scope="row">Enperry</th>
                          <td><img src="../../assets/images/brands/B16.png" alt="brand-image"></td>
                          <td>Sub Power Up</td>
                          <td><img src="../../assets/images/abilities/BombDistance_Up.png" alt="common-ability"></td>
                          <td>Increases performance of Sub Weapons.</td>
                          <td>Ink Resistance Up</td>
                          <td><img src="../../assets/images/abilities/OpInkEffect_Reduction.png" alt="uncommon-ability"></td>
                          <td>Decreases damage, speed, and jump penalties when standing in enemy Ink.</td>
                      </tr>
                      <tr>
                          <th scope="row">Toni Kensa</th>
                          <td><img src="../../assets/images/brands/B17.png" alt="brand-image"></td>
                          <td>Cold-Blooded</td>
                          <td><img src="../../assets/images/abilities/MarkingTime_Reduction.png" alt="common-ability"></td>
                          <td>Shortens the duration of position trackers.</td>
                          <td>Sub Power Up</td>
                          <td><img src="../../assets/images/abilities/BombDistance_Up.png" alt="uncommon-ability"></td>
                          <td>Increases performance of Sub Weapons.</td>
                      </tr>
                      <tr>
                          <th scope="row">Grizzco</th>
                          <td><img src="../../assets/images/brands/B97.png" alt="brand-image"></td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="common-ability"></td>
                          <td>None</td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="uncommon-ability"></td>
                          <td>None</td>
                      </tr>
                      <tr>
                          <th scope="row">Cuttlegear</th>
                          <td><img src="../../assets/images/brands/B98.png" alt="brand-image"></td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="common-ability"></td>
                          <td>None</td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="uncommon-ability"></td>
                          <td>None</td>
                      </tr>
                      <tr>
                          <th scope="row">amiibo</th>
                          <td><img src="../../assets/images/brands/B99.png" alt="brand-image"></td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="common-ability"></td>
                          <td>None</td>
                          <td>None</td>
                          <td><img src="../../assets/images/abilities/none.png" alt="uncommon-ability"></td>
                          <td>None</td>
                      </tr> -->
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
