@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: "splatoon2regular";
    src: url("assets/fonts/splatoon2-webfont.ttf");
}
@font-face { font-family: "splatoon2regular"; src: url("assets/fonts/splatoon2-webfont.eot")}
@font-face { font-family: "splatoon2regular"; src: url("assets/fonts/splatoon2-webfont.svg")}
@font-face { font-family: "splatoon2regular"; src: url("assets/fonts/splatoon2-webfont.woff")}


/*---- Navbar ----*/
.nav-item a:hover {
    text-decoration: none;
    box-shadow: 0px 4px 0px #F7C331;
}

/*---- Jumbotrons ----*/
/* Sets jumbotron color and stroke */
/* Not sure why increasing font size makes the jumbotron larger */
.jumbotron h1{
    color: #FDFF00;
    font-family: 'splatoon2regular', Helvetica, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.jumbotron p{
    color: #FDFF00;
    font-family: 'splatoon2regular', Helvetica, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/* Used to adjust table sizes */
@media only screen and (max-width: 575px) {
    .hide-xs {
        display: none;
    }
}

@media (max-width: 576px) {
    .hide-sm {
        display: none;
    }
}
@media (max-width: 768px){

}
@media (max-width: 992px){

}
@media (max-width: 1200px) {

}
/*---- Submit (Not used, replaced with Musc) ----*/
/* .php-underline {
    text-decoration: underline;
}
.php-quotes:before{
    content: open-quote;
}
.php-quotes:after{
    content: close-quote;
} */
