<ngb-carousel>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-1-min.jpg" alt="First slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-2-min.jpg" alt="Third slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-3-min.jpg" alt="Fourth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-4-min.jpg" alt="Fifth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-5-min.jpg" alt="Sixth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-6-min.jpg" alt="Seventh slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-7-min.jpg" alt="Eight slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-8-min.jpg" alt="Ninth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-9-min.jpg" alt="Tenth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-10-min.jpg" alt="Eleventh slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-12-min.jpg" alt="Twelfth slide">
    </ng-template>
    <ng-template ngbSlide>
        <img class="d-block w-100" src="../../assets/images/home/image-13-min.jpg" alt="Thirteenth slide">
    </ng-template>
</ngb-carousel>

<section>
  <div class="container">
      <div class="row">
          <div class="col-md-6 order-1">
              <div class="p-5">
                  <h2>Other Sites</h2>
                  <p>Inksauce isn't the only place for Splatoon 2 goodness. Check out these awesome sites!</p>
                  <ul class="list-unstyled">
                      <li><a href="https://reddit.com/r/splatoon" target="_blank">/r/splatoon</a></li>
                      <li><a href="https://squidboards.com/" target="_blank">Squid Boards</a></li>
                      <li><a href="https://twitter.com/splatnetstore" target="_blank">SplatNet Store</a></li>
                      <li><a href="https://splatoonwiki.org/wiki/" target="_blank">Splatoon Wiki</a></li>
                      <li><a href="https://loadout.ink/en-us" target="_blank">loadout.ink</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 order-2">
              <div class="p-5">
                  <h2>Current Maps</h2>
                  <a class="twitter-timeline" href="https://twitter.com/splatoon2maps?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by splatoon2maps</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </div>
      </div>
  </div>
</section>
